.listPage{
    display: flex;
    height: 100%;
    .listContainer{
        flex: 3;
        .wrapper{
            height: 100%;
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            overflow-y: scroll;
            padding-bottom: 50px;

            &::-webkit-scrollbar{
                background-color: transparent;
                width: 3.5px;
                border-radius: 50%;
            }
            // &:hover::-webkit-scrollbar{
            //     width: 1px;
            // }
            &::-webkit-scrollbar-thumb{
                background-color: rgba(17, 1, 1, 0.2);
            }
            &::-webkit-scrollbar-track{
                background-color: transparent;
            }

        }
    }
    .mapContainer{
        flex: 2;
        height: 100%;
        width: 100%;
    }
}