@import "../../responsive.scss";
@import "../../index.scss";

.layout{
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "poppins-regular";
    display: flex;
    flex-direction: column;
    
    @include lg{
        max-width: 1280px;
    }
    @include md{
        max-width: 768px;
    }
    @include sm{
        max-width: 640px;
    }
    .content{
        height: calc(100vh - 120px);
    }
}